#root {
  /* max-width: 1280px; */
  /* margin: 0 auto;
  padding: 2rem;
  text-align: center; */
  width: 100%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#header {
  background-color: black !important;
}

.page-header {
  border-bottom: 2px solid #46B1C9;
  width: 90%;
}

.navbar {
  background-color: #161a1d !important;
}

.nav-links {
  display: flex !important;
  justify-content: end !important;
}

.home-captions {
  background-color: black;
  opacity: 0.9;
  visibility: hidden;
  border-radius: 15px;
  transition: transform 0.5s;
  transform: translateY(100%);
}

.carousel:hover .home-captions{
  visibility: visible;
  border-radius: 15px;
  transform: translateY(0);
}

.carousel-img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.carousel:hover .carousel-img {
  filter: blur(3px);
  transition: 1s;
}

.footer {
  background-color: #84C0C6;
}

.footer-link {
  color: #46B1C9;
  font-weight: bold;
}

.footer-link:hover {
  color: #84C0C6;
}

#headshot {
  margin: 50px;
  height: 400px;
  width: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.about-me {
  display: flex;
  justify-content: start;
}

.skills {
  display: flex;
  justify-content: flex-start;
  color: #84C0C6;
}

#resume {
  background-color: #161a1d;
  padding: 10px;
  border-radius: 20px;
}

#resume-download {
  background-color: #343a40;
  padding: 20px;
  border-radius: 10px;
}

.custom-card {
  background-color: #161a1d !important;
  overflow: hidden;
  border: none;
  transition: transform 1s, background-image 1s;
}

.custom-card:hover {
  transform: scale(1.05);
  border: solid #84C0C6;
  filter: drop-shadow(0 0 1em #84C0C6);
  background-image: none !important;
  background-color: #161a1d !important;
  transition: 1s;
}

.card-links {
  visibility: hidden;
}

.custom-card:hover .card-links {
  background-color: #161a1d;
  opacity: 1;
  visibility: visible;
  padding: 20px;
  border-radius: 20px;
  transition: 1s;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.form-label {
  color: #84C0C6 !important;
  font-weight: bold;
}

.form-btn {
  background-color: #46B1C9 !important;
  border: none !important;
}